{% extends 'base.html' %}

{% block content %}
<div class="section-fullscreen bg-image" style="background-image: url(../../assets/images/background.jpg)">
    <div class="bg-black-04">
        <div class="container text-center">
            <div class="position-middle">
                <div class="row">
                    <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                        <h4 class="font-weight-light margin-bottom-30">Registration</h4>
                        <div>
                        {% if error %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endif %}
                        </div>
                        <form accept-charset="UTF-8" action="/signup/" class="singup-form" method="POST">
                            {% csrf_token %}
                            {% for field in form %}
                                {{ field }}
                                {{ field.errors }}
                                <!-- {% if field.help_text %}
                                <p class="help">{{ field.help_text|safe }}</p>
                                {% endif %} -->
                            {% endfor %}
                            <br>
                            <button type="submit" class="button-lg button-outline-white-2 button-fullwidth">Register</button>
                        </form>
                        <div class="margin-top-30">
                            <p>By signing up, you agree to our <a href="#">Terms of Use</a></p>
                        </div>
                    </div>
                </div><!-- end row -->
            </div><!-- end position-middle -->
            <div class="position-bottom text-center">
                <p>&copy; 2018 FlaTheme, All Rights Reserved.</p>
            </div><!-- end position-bottom -->
        </div><!-- end container -->
    </div>
</div>
{% endblock %}
