<body>
	<h2>Report</h2>
	<table>
		<thead style="text-align: left;">
			<th width="180px">#</th>
			<th></th>
		</thead>
		<tbody>
            <tr>
                <td>Sender Name: </td>
                <td>{{ from_username }}</td>
            </tr>
            <tr>
                <td>From: </td>
                <td>{{ from_email }}</td>
            </tr>
            <tr>
                <td>To: </td>
                <td>{{ to_email }}</td>
            </tr>
            <tr>
                <td>Total: </td>
                <td>{{ total }}</td>
            </tr>
            <tr>
                <td>Date for first email: </td>
                <td>{{ first_date|date:"l, j M Y" }}</td>
            </tr>
		</tbody>
	</table>
</body>